/* folha de extilo CSS3*/

/*permiter implementar uma fonte diferente das obituais*/

@font-face {
    font-family: Orbitron;
    src: url("font/Orbitron.ttf");
}

.nova-letra {
    font-family: "Orbitron";
    font-size: 24px;
    font-weight: 12px;
}