/* folha de estilos CSS3*/

/* font-style------------------------------------------------------------------------------------------*/

.letra-italico {
    font-style: italic; /*Permite selecionar faces em itálico ou oblíquas.*/
}

/* font-weight-----------------------------------------------------------------------------------------*/

.letra-espessura {
    font-weight: bold; /*Especifica o peso dos glifos na fonte, sua espessura, seu grau de negritude ou espessura do traço.*/
}

/* text-trasnform--------------------------------------------------------------------------------------*/

.letra-transformada-minuscula {
    text-transform: lowercase; /*Controla os efeitos de capitalização do texto de um elemento. minuscula ou maiuscula*/
}

.letra-transformada-maiuscula {
    text-transform: uppercase;
}

.letra-transformada-capitalizada {
    text-transform: capitalize;
}

/* text-decoration-------------------------------------------------------------------------------------*/

.letra-sublinhada {
    text-decoration: underline; /*Decorações aplicadas à fonte usada para o texto de um elemento.*/
}

.letra-rasurada {
    text-decoration: line-through;
}

.letra-com-traco-superior {
    text-decoration: overline;
}

.letra-decoration-1 {
    text-decoration: underline green;
}

.letra-decoration-2 {
    text-decoration: underline wavy red;
}

.letra-decoration-3 {
    text-decoration-line: underline; /*Especifica quais decorações de linha, se houver, são adicionadas ao elemento.*/
    text-decoration-style: wavy; /*Especifica o estilo de linha para decoração de texto sublinhado, linear e sobrelineado.*/
    text-decoration-color: red; /*Especifica a cor da decoração do texto, definida no elemento com linha de decoração de texto.*/
}

.estilo-de-letras {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 22px;
    text-decoration: line-through underline dashed blueviolet; /*defina linha, stilo e a cor.*/
}


